{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="welcome">
        <div class="container">
            <p class="h2">Venez découvrir</p>
            <h1>Les Aventures de Guillaume</h1>
            <a class="btn btn-dark" href="{{ path('app_story') }}">Osez entrer dans un nouvel univers ...</a>
        </div>
    </section>

    <section id="goals">
        <div class="container">
            <h2 class="h1 title-line home-h2">Un site qui remplit 4 objectifs</h2>
            <ul class="goals-ul">
                <li class="goals-li">Devenir une star de la <strong>littérature</strong>, de la <strong>comédie</strong> et le <strong>héros</strong> de vos enfants</li>
                <li class="goals-li">Partager mes <strong>nouvelles</strong> pour vous faire découvrir mon <strong>style inégalable</strong></li>
                <li class="goals-li">Lorem ipsum suspendisse ac iaculis nunc aenean porttitor tortor non lacus sodales
                    tincidunt</li>
                <li class="goals-li">Phasellus ultrices congue nunc vitae egestas</li>
            </ul>
        </div>
    </section>

    <section id="quotation">
        <div class="container quotation-container">
            <div class="quotation-flex-1">
                <img loading="lazy" class="marks" src="{{ asset('images/quotationMark.png') }}" alt='"'/>
                <p class="quote">Lorem ipsum consectetur adipiscing conus ultraces elit lacus sodales tincidunt.</p>
            </div>
            <div class="quotation-flex-2">
                <img loading="lazy" class="marks" src="{{ asset('images/quotationMark.png') }}" alt='"'/>
                <p class="author-quote">Baptiste</p>
            </div>
        </div>
    </section>

    <section id="last-news">
        <div class="container">
            <h2 class="h1 title-line home-h2">Les Dernières Nouvelles</h2>
            <div class="row">
                {% for story in latest %}
                    <a class="col-lg-4 col-last-news" href="{{ path('app_story_show', {slug: story.slug}) }}">
                        <div class="text-center">
                            <img loading="lazy" class="rounded-circle img-last-news" src="{{ asset('images/story1.png') }}" alt="illustration"/>
                        </div>
                        <h3 class="h2 yellow-line">{{ story.title }}</h3>
                        <p class="summary">{{ story.summary }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
