{% extends 'base.html.twig' %}

{% block title %}Nouvelles{% endblock %}

{% block body %}
    <section id="stories-title">
        <div class="container">
            <h1>Nouvelles</h1>
        </div>
    </section>

    <section id="stories-list">
        <div class="container">
            <h2 class="h1 title-line home-h2">Les Aventures de Guillaume</h2>
            <div class="row">
                {% for story in stories %}
                    <div class="col-lg-4 col-last-news">
                        <div class="text-center div-last-news">
                            <a href="{{ path('app_story_show', {slug: story.slug}) }}">
                                <img loading="lazy" class="rounded-circle img-last-news"
                                     src="/images/upload/{{ story.image }}" alt="illustration"/>
                            </a>
                        </div>
                        <a class="a-last-news story-title" href="{{ path('app_story_show', {slug: story.slug}) }}">
                            <h3 class="h2 yellow-line">{{ story.title }}</h3>
                            <p class="summary">{{ story.summary }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
