{% extends 'base.html.twig' %}

{% block title %}{{ story.title }}{% endblock %}

{% block body %}
    <section id="story-header">
        <div class="container">
            <div class="flex-container-reverse">
                <h1>{{ story.title }}</h1>
                <img loading="lazy" class="story-img" src="{{ story.image }}" alt="illustration"/>
            </div>
            {%  if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="favorite">
                    {% if story in favorite_stories %}
                        <a class="favorite-text" href="{{ path('app_story_favorite', {slug: story.slug}) }}"><i class="fa-solid fa-heart"></i> Déjà en favoris</a>
                    {% else %}
                        <a class="favorite-text" href="{{ path('app_story_favorite', {slug: story.slug}) }}"><i class="fa-regular fa-heart"></i> Mettre en favoris</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>

    <section id="story-text">
        <div class="container">
            <p class="story-p">{{ story.text }}</p>
        </div>
    </section>
{% endblock %}