{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="title-container">
        <h1 class="title-line">Mon profil</h1>
    </div>
    <section id="infos">
        <div class="container info-div">
            <h2 class="yellow-line">Modifier mes informations</h2>
            {{ form_start(editInfosForm) }}
                <div class="form-group">
                    {{ form_row(editInfosForm.lastname, {
                        label: 'Nom',
                        attr: {'class': 'form-control'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(editInfosForm.firstname, {
                        label: 'Prénom',
                        attr: {'class': 'form-control'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(editInfosForm.email, {
                        label: 'Adresse e-mail',
                        attr: {'class': 'form-control'}
                    }) }}
                </div>
                <div class="form-btn">
                    <button class="btn btn-dark" type="submit">
                        Modifier Informations
                    </button>
                </div>
            {{ form_end(editInfosForm) }}
        </div>
    </section>
    <section id="favorites" class="white-background">
        <div class="container">
            <h2 class="h2-gray yellow-line">Mes favoris</h2>
            <div class="favorites">
                {% if favorite_stories is empty %}
                    <div class="favorites-empty">
                        <img loading="lazy" class="gif-sad" src="{{ asset('images/favoritesSadGif.gif') }}"
                             alt="illustration"/>
                        <p class="fav-empty"><i class="fa-solid fa-face-sad-cry"></i> On dirait bien que tu n'as
                            mis aucune nouvelle en favoris...
                            <br/> Mais aucun problème, il n'est jamais trop tard :</p>
                        <a class="btn btn-dark" href="{{ path('app_story') }}">Les nouvelles sont par ici <i
                                    class="fa-solid fa-face-laugh-wink"></i></a>
                    </div>
                {% else %}
                    <div class="row">
                        {% for story in favorite_stories %}
                            <a class="col-lg-2" href="{{ path('app_story_show', {slug: story.slug}) }}">
                                <div class="text-center">
                                    <img loading="lazy" class="rounded-circle img-fav-full"
                                         src="/images/upload/{{ story.image }}" alt="illustration"/>
                                </div>
                                <p class="fav-full-p">{{ story.title }}</p>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
